[submodule "Assignment_1_Wang.Zun"]
	path = Assignment_1_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_1_Wang.Zun.git
[submodule "Assignment_2_Wang.Zun"]
	path = Assignment_2_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_2_Wang.Zun.git
[submodule "Assignment_3_Wang.Zun"]
	path = Assignment_3_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_3_Wang.Zun.git
[submodule "Assignment_4_Wang.Zun"]
	path = Assignment_4_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_4_Wang.Zun.git
[submodule "Assignment_5_Wang.Zun"]
	path = Assignment_5_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_5_Wang.Zun.git
[submodule "Assignment_6_Wang.Zun"]
	path = Assignment_6_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_6_Wang.Zun.git
[submodule "Assignment_7_Wang.Zun"]
	path = Assignment_7_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_7_Wang.Zun.git
[submodule "Assignment_8_Wang.Zun"]
	path = Assignment_8_Wang.Zun
	url = https://github.com/UCDBIS180L-20/Assignment_8_Wang.Zun.git
[submodule "Shiny_Room18"]
	path = Shiny_Room18
	url = https://github.com/UCDBIS180L-20/Shiny_Room18.git
